<h1>Novo Card</h1>
<%= form_for(@card) do |f| %>
  <div>
    <%= f.label :front, "Portugues" %>
    <%= f.text_field :front %>
  </div>
  <div>
    <%= f.label :back, "Ingles" %>
    <%= f.text_field :back %>
  </div><br>
  <%= f.submit 'Atualizar' %>
<%end%>
