<header>
  <h2>Cards</h2><br>
</header>

<section>
  <h3>Expressao em portugues:</h3><%= @card.front %><br>
  <h3>Expressao em ingles:</h3><%= @card.back %>
  <p>Enviado por: <%= @card.author %></p>
  <p><%= link_to edit_card_path(@card) do %>
  <button>Editar</button>
  <%end%></p>

  <%= link_to @card, method: :delete do %>
  <button>Deletar</button><br>
  <% end %>

  <h3>Comentários</h3>
  <% @card.comments.each do |comment| %>
    <p><%= comment.author %> comentou:</p>
    <p><%= comment.body %></p>
    <% end %>

  <h2>Novo Comentario</h2>
  <%= form_for [@card, @comment] do |f| %>
    <div>
      <%= f.label :author, 'Autor' %>
      <%= f.text_field :author %>
    </div>
    <div>
      <%= f.label :body, 'Comentario' %>
      <%= f.text_area :body %>
    </div>
    <%= f.submit 'Enviar Comentario' %>
  <% end %>
</section>
