<!DOCTYPE html>
<html>
  <head>
    <title>Cards</title>
    <%= csrf_meta_tags %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
    <header>
      <%= link_to root_path do %>
      <h1>System cards</h1>
      <%= image_tag('tradutor.jpg', width: '300px', alt: "icone tradutor") %>
      <%end%>
    </header>
    <%= yield %>
    <aside>
      <h3>Outros tradutores</h3>
      <%= image_tag('google_tradutor_icon.png', width: '60px', alt: "icone google tradutor") %><br>
      <%= link_to "Google Tradutor", "http://translate.google.com", target: "_blank" %>
    </aside><br><br>
    <footer>
      <p><h5>Projeto Campus Code - firts app</h5></p>
  </body>
</html>
